body {
  margin: 20;
  font-family: sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.post{
  border: 2px outset #24EBA3;
  border-radius: 5px;
  margin: 10px;
}

.MuiPagination-ul{
  justify-content: center;
}

h4{
  color: #5C5AEA;
  text-align: center;
}

p.MuiTypography-root{
  margin-left: 10px;
}